.errorTop{
    width: 50% !important;
    height: 25px;
    background-color: $color_red;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white !important;
}

.errorElement{
    margin-top: 2px;
    float: left;
    font-size: 14px !important;
    width: 50% !important;
    height: 10px !important;
    background-size: cover;
    background-position: center;
}

.errorSubElement{
    margin-top: 2px;
    float: right;
    width: 17px !important;
    height: 17px !important;
    background-size: cover;
    background-position: center;
}