Container{
  padding: 0 !important;
  margin: 0 !important;
}

Row{
  padding: 0 !important;
  margin: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary_blue;
  border-radius: 10px;
}

img{
  border: none !important;
}

input{
  border: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.075);
  @include paragraph; 
}

img{
  border: none !important;
}

h1{
  @include heading_one;
}

h2{
  @include heading_twoBold;
}

h3{
  @include heading_three;
}

h4{
  @include heading_four;
}

p{
  @include paragraph;  
}

li{
  @include paragraph;
  display: inline-block;
  text-decoration: none;
}

.borderRad{
  @include borders;
}

.shadow{
  @include shadow;
}

.overflow{
  height: 90%;
  overflow: auto;
}

.Inline{
  display: inline-block;
}

a{
  text-decoration: none !important;
  color: black !important;
}

.displayInline{
  display: inline-block;
}

table{
  width: 100%;
}

th, td{
  width: 25%;
  padding-left: 15px;
}

tr{
  margin-bottom: 15px !important;
}

.Spacing{
  height: 5px;
}

.cursor{
  cursor: pointer;
}


